body {
    background-color: cornsilk;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.listing-img {
    width: 50vw;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
    text-align: center;

}

.actions {
    display: flex;
    flex-direction: column;
}

#edit-btn {
    width: 30%;
}